@font-face {
  font-family: 'Porsche Next';
  src: 
    url('../fonts/PorscheNext-Regular.woff2') format('woff2'),
    url('../fonts/PorscheNext-Regular.woff') format('woff'),
    url('../fonts/porsche-next.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Next';
  src: 
    url('../fonts/PorscheNext-Bold.woff2') format('woff2'),
    url('../fonts/PorscheNext-Bold.woff') format('woff'),
    url('../fonts/porsche-next-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Porsche Original';
  src: 
    url('../fonts/Porsche-Original.woff2') format('woff2'),
    url('../fonts/Porsche-Original.woff') format('woff'),
    url('../fonts/Porsche-Original.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
